<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Resuelto por</th>
        <th scope="col">Conteo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>ViaBTC</td>
        <td>{{ViaBTC}}</td>
       
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>BTC.com</td>
        <td>{{BitCompanies.BTC}}</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>SlushPool</td>
        <td>{{BitCompanies.SlushPool}}</td>
       
      </tr>
      <tr>
          <th scope="row">4</th>
          <td>AntPool</td>
          <td>{{BitCompanies.AntPool}}</td>
         
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Unknown</td>
            <td>{{BitCompanies.Unknown}}</td>
           
          </tr>
          <tr>
              <th scope="row">6</th>
              <td>KanoPool</td>
              <td>{{BitCompanies.KanoPool}}</td>
             
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>DPOOL</td>
                <td>{{BitCompanies.DPOOL}}</td>
               
              </tr>
              <tr>
                  <th scope="row">8</th>
                  <td>Bixin</td>
                  <td>{{BitCompanies.Bixin}}</td>
                 
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>BTCC Pool</td>
                    <td>{{BitCompanies.BTCC}}</td>
                   
                  </tr>
                  <tr>
                      <th scope="row">10</th>
                      <td>F2Pool</td>
                      <td>{{BitCompanies.F2Pool}}</td>
                     
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>BTC.TOP</td>
                        <td>{{BitCompanies.BTCTOP}}</td>
                       
                      </tr>
                      <tr>
                          <th scope="row">12</th>
                          <td>Poolin</td>
                          <td>{{BitCompanies.Poolin}}</td>
                         
                        </tr>
                        <tr>
                            <th scope="row">13</th>
                            <td>BitClub Network</td>
                            <td>{{BitCompanies.BitClubNetwork}}</td>
                           
                          </tr>
                          <tr>
                              <th scope="row">14</th>
                              <td>Bitcoin.com</td>
                              <td>{{BitCompanies.Bitcoincom}}</td>
                             
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>58COIN</td>
                                <td>{{BitCompanies.COIN}}</td>
                               
                              </tr>
                              <tr>
                                  <th scope="row">16</th>
                                  <td>BitFury</td>
                                  <td>{{BitCompanies.BitFury}}</td>
                                 
                                </tr>
                                <tr>
                                    <th scope="row">17</th>
                                    <td>CKPool</td>
                                    <td>{{BitCompanies.CKPool}}</td>
                                   
                                  </tr>
    </tbody>
  </table>